<%= render "layout2_script" %>
<div class="row layout2">
<!-- User information -->
  <div class="col-lg-2 col-md-2 col-sm-2" id="userside">
  <label for="">Name</label> <span><%= @user.fullname if @user.fullname? %></span><br/>
  <label for="">E - Mail</label> <span><%= mail_to @user.email if @user.email? %></span><br/>
  <label for="">Website</label> <span><%= link_to @user.website if @user.website? %></span><br/>
  <label for="">facebook</label> <span><%= link_to @user.facebook if @user.facebook? %></span><br/>
  <label for="">twitter</label> <span><%= @user.twitter if @user.twitter? %></span><br/>
  <label for="">Biography</label> <div class="col-lg-12 col-md-12 col-sm-12 bio" ><%= @user.bio if @user.bio? %></div>
  </div>
<!-- Project information -->
  <div class="col-lg-9 col-md-9 col-sm-9" class="projectside">
  <% @projects.each_with_index do |project, index| %>
    <div id="project<%=index%>" class="project_item">
      <div class="projectinfo">
        <h1><%= project.title %></h1>
        <div><%= project.description %></div>
      </div>
      <hr>
  <!-- Project images -->
      <div class="galleria images">
        <% project.sub_images.each do |sub_image| %>
          <a href="<%= sub_image.image_url(:layout2)%>"><img src="<%= sub_image.image_url(:thumb)%>" data-big="<%= sub_image.image_url(:layout1)%>" data-title="" data-description="<%= sub_image.caption %>"></a>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

</div>


