<div class="container">
  <div class="body">
    <div class="layout3_user">
      <h1 class="name">Chang Ju Park</h1>
      <hr>
      <p class="contact">
        <%= image_tag "icons/vintage/mail.png", size:"100x100" %>
        <%= image_tag "icons/vintage/facebook.png", size:"100x100" %>
        <%= image_tag "icons/vintage/twitter.png", size:"100x100" %>
      </p>

      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <hr>

    <div>
      <h2 class="title">Project title</h2>
      <div class="description">asdlfkajsdlfk</div>
      <div class="layout3_list">
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :height => 100 %>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="title">Project title</h2>
      <div class="description">asdlfkajsdlfk</div>
      <div class="layout3_list">
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :height => 100 %>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="title">Project title</h2>
      <div class="description">asdlfkajsdlfk</div>
      <div class="layout3_list">
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs5965.userapi.com/u33085317/-14/x_fd03805f.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg", :height => 100 %>
        <% end %>
        <%= link_to "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :rel => :lazybox do %>
          <%= image_tag "http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg", :height => 100 %>
        <% end %>
      </div>
    </div>


  </div>
</div>
