<%= render "layout2_script" %>
<div class="container">
  <div class="body">
    <div class="layout3_user">
      <h1 class="name"><%= @user.fullname if @user.fullname? %></h1>
      <hr>
      <p class="location"><%= "live in #{@user.location}" if @user.location?%></p>
      <p class="website"><%=link_to "website", @user.website if @user.website?%></p>
      <p class="contact">

        <a href="mailto:<%= @user.email%>"><%= image_tag "icons/vintage/mail.png", size:"100x100" %></a>
        <a href="<%= @user.facebook %>"><%= image_tag "icons/vintage/facebook.png", size:"100x100" %></a>
        <a href="<%= @user.twitter %>"><%= image_tag "icons/vintage/twitter.png", size:"100x100" %></a>
      </p>

      <p class="description"><%= @user.bio if @user.bio?%></p>
    </div>
    <hr>
    <% @projects.each_with_index do |project, index| %>
    <div>
      <h2 class="title"><%= project.title %></h2>
      <div class="description"><%= project.description %></div>
      <div class="layout3_list">
       <% project.sub_images.each_with_index do |sub_image, index| %>
          <%= link_to sub_image.image_url(:layout2), :rel => :lazybox do %>
            <%= image_tag sub_image.image_url(:thumb), :height => 100 %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
