<nav>
  <div class="nav container">
  <a href="<%= root_path %>" class="logo"><%= t 'main_banner_title' %></a>
  <ul class="navigation">
    <li><%= link_to t('main_about') %></li>
    <li><%= link_to t('main_work') %></li>
    <li><%= link_to t('main_contact') %></li>
  </ul>
  </div>
</nav>
