<ul id="projects">
<% @projects.each do |project| %>
<li id="project_<%= project.id %>" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
		<%= project.title %>

		<%= link_to '', project_path(project), method: :delete, remote: true, class:'glyphicon glyphicon-trash delete_project pull-right destroy_image', confirm: 'Are you sure?'%>
		<%= link_to (image_tag project.thumbnail.url(:thumb) ),project %>
    <%# TODO 클릭하면 Modal로 썸네일 변경 창이 작동하도록 한다.%>
    <%= link_to 'Change Thumbnail', projects_path, data: { toggle: 'modal', target:"#new_thumbnail" },remote: true, class: 'btn btn-xs btn-success' %>

		<% link_to 'Edit', edit_project_path(project) %>
		
</li>
<%= render "modal_thumbnail", project: project %>
<% end %>
</ul>
<%# TODO 프로젝트 컨트롤러가 이상함%>
