<ul id="projects" data-update-url="<%= sort_projects_url %>", class="sortable">
<% @projects.each do |project| %>
	<%= content_tag_for :li, project do %>
    <div>
      <% if project.sub_images.empty? %>
        <%= link_to (holder_tag '240x140','Nothing', 'social'),project,class: 'handle' %>
      <% else %>
        <%= link_to (image_tag project.sub_images.order("position ASC").first.image_url(:thumb)),project,class: 'handle' %>
      <% end  %>
      <br/>
      <%= link_to project.title, project%>
      <% link_to '', project_path(project), method: :delete, remote: true, class: 'glyphicon glyphicon-trash delete_project pull-right destroy_image', confirm: 'Are you sure?'%>
  		<% link_to 'Edit', edit_project_path(project) %>
    </div>
	<% end %>
<% end %>
</ul>
