<div class="topbar">

</div>
<div class="container project_index">
  <div class="row">
    <div class="col-lg-10">
      <% if user_signed_in? %>
      <h1>Listing Projects
        <span><%= link_to 'New Project', "#new_project", data: { toggle: "modal" }, class: "btn btn-primary", id: 'btn_new_project' %></span>

      </h1>

      <%= render "modal_new" %>

      <hr>
      	<div class="projects row">
      		<%= render 'list' %>
      	</div>


    <% end %>
    </div>
    <div class="col-lg-2 sidebar">
      <%= render 'projects/devise_top' %>
    </div>
  </div>
<div class="trashcan droppable none"></div>
</div>

<%= javascript_include_tag "sort_project" %>
<%= javascript_include_tag "trashcan_project" %>
