<h1>Listing Projects <span><%= link_to 'New Project', "#new_project", data: { toggle: "modal" }, class: "btn btn-primary", id: 'btn_new_project' %></span></h1>

<%= render "modal_new" %>
<hr>
	<div class="projects row">
		<%= render 'list' %>
	</div>
<div class="trashcan droppable none"></div>


<%= javascript_include_tag "sort_project" %>
<%= javascript_include_tag "trashcan_project" %>
