<div class="topbar">
  <div class="container">
    <h1>Online Portfolio Management Page</h1>
  </div>
</div>
<div class="container project_index">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <% if user_signed_in? %>
      <%= render "modal_new" %>

      <ul class="nav nav-tabs">
        <li><a href="#projects" data-toggle="tab">PROJECT</a></li>
        <li><a href="#profile" data-toggle="tab">PROFILE</a></li>

      </ul>
      <!-- Nav tabs -->
      <div class="tab-content">
        <%= render 'list' %>
        <%= render 'profile' %>
      </div>
    <% end %>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
      <%= render 'projects/devise_top' %>
    </div>
  </div>
<div class="trashcan droppable none"></div>
</div>

<%= javascript_include_tag "sort_project" %>
<%= javascript_include_tag "trashcan_project" %>
