<div class="topbar">
  <div class="container">
    <h1>Online Portfolio Management Page </h1>

  </div>
</div>
<div class="container">
	<h1 class="title"><%= @project.title %> <%= link_to 'Back', projects_path, class: "btn btn-warning" %></h1>
	<hr>
	<div class="image col-md-12 col-lg-12">
	<% if @project.sub_images.empty? %>
		<%= holder_tag '100%x400','Please add first image', 'social' %>
	<% else %>
		<div class="sub_images_wrap">
			<ul id="sub_images" data-update-url="<%= sort_project_sub_images_url(@project.id) %>" class="row" >
				<%= render @project.sub_images.order(:position) %>
			</ul>

		</div>
	<% end %>
	</div>
	<hr>
	<div class="clear"></div>
	<div class="add_sub_images">
	<%= form_for([@project, @project.sub_images.build], multipart: true)  do |f| %>
		<p>
			<%= f.file_field :image, multiple: true, name: "sub_image[image]",class: "btn btn-primary" %>
		</p>
		<%= f.submit "Upload Image" %>
	<% end %>
	</div>
	<% #TODO Apply css %>
	<hr>
	<div class="details">
		<div class="title inside_detail">
			<span class="label label-primary">Title</span><br/><br/>
			<%= best_in_place @project, :title, type: :input  %>
		</div>
		<div class="description inside_detail">
			<span class="label label-primary">Description</span><br/><br/>
			<%= best_in_place @project, :description, type: :input,  nil: 'Insert Some text'  %>
		</div>
		<div class="url inside_detail">
			<% #TODO Check correct url using ping or something %>
			<span class="label label-primary">URL</span><br/><br/>
			<%= best_in_place @project, :url, type: :input,  nil: 'Insert Some text' %>
		</div>

		<div class="work_for inside_detail">
			<span class="label label-primary">Work For</span><br/><br/>
			<%= best_in_place @project, :work_for, type: :input,  nil: 'Insert Some text' %>
		</div>

		<div class="types inside_detail">
			<% #TODO using comma (,) like tagging system %>
			<span class="label label-primary">Type</span><br/><br/>
			<%= best_in_place @project, :types, type: :input, nil: 'Insert Some text' %>
		</div>

	</div>
	<%= javascript_include_tag "sort_sub_images" %>
	<%= javascript_include_tag "select_layout" %>
</div>
