<div class="container">
	<h1 class="title"><%= best_in_place @project, :title, type: :input %></h1>
	<hr>
	<div class="image col-md-12 col-lg-12">
	<% if @project.sub_images.empty? %>
	비어있음
	<% else %>
		<ul class="sub_images">
		<%= render @project.sub_images %>
		</ul>
	<% end %>
	</div>
	<hr>
	<div class="add_sub_images">
	<%= form_for([@project, @project.sub_images.build])  do |f| %>
		<p>
			<%= f.label :image %>
			<%= f.file_field :image %>		
		</p>
		<div id="holder">
			<p id="upload"></p>		
			<p id="progress"></p>
		</div>
		<p>
			<%= f.label :caption %>
			<%= f.text_field :caption %>
		</p>
		<p>
			<%= f.label :selected %>
			<%= f.check_box :selected %>
		</p>
		<p>
			<%= f.label :order %>
			<%= f.text_field :order %>
		</p>
		<%= f.submit %>
	<% end %>
	</div>
	<% #TODO Apply css %>
	<div class="details">
		<p>
			<strong>Description</strong><br/>
			<%= best_in_place @project, :description, type: :textarea, nil: 'Insert Some text' %>
		</p>
		<p>
			<% #TODO Check correct url using ping or something %>
			<strong>URL</strong><br/>
			<%= best_in_place @project, :url, type: :input, nil: 'Insert Some text' %>
		</p>

		<p>
			<strong>Work For</strong><br/>
			<%= best_in_place @project, :work_for, type: :input, nil: 'Insert Some text' %>
		</p>

		<p>
			<% #TODO using comma (,) like tagging system %>
			<strong>Type</strong><br/>
			<%= best_in_place @project, :types, type: :input, nil: 'Insert Some text' %>
		</p>
	</div>

	<div class="layouts">
		<p>
			<% #TODO Change Layout image.. after layouts fixed make thumbnails %>
			<strong>Layouts</strong><br/>
			<%= best_in_place @project, :layouts, type: :select, collection: [[1,"Layout 1"], [2, "Layout 2"]], nil:'Select Default Layout' %>
		</p>
	</div>

	<div class="visibility">
	<p>
		<% #TODO Change visibility image %>
		<strong>visibility</strong><br/>
		<%= best_in_place @project, :visibility, type: :checkbox, collection: %w[Visible Unvisible] %>
	</p>
	</div>


<%= link_to 'Back', projects_path %>
| <%= link_to 'Edit', edit_project_path(@project) %>
| <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure ? ' } %>
</div>
