<div class="container">
	<h1 class="title"><%= @project.title %></h1>
	<hr>
	<div class="image col-md-12 col-lg-12">
	<% if @project.sub_images.empty? %>
		<%= holder_tag '100%x400','Please add first image', 'social' %>
	<% else %>
		<div class="sub_images_wrap">
			<ul id="sub_images" data-update-url="<%= sort_project_sub_images_url(@project.id) %>">
				<%= render @project.sub_images.order(:position) %>
			</ul>

		</div>
	<% end %>
	</div>
	<hr>
	<div class="clear"></div>
	<div class="add_sub_images">
	<%= form_for([@project, @project.sub_images.build], multipart: true)  do |f| %>
		<p>
			<%= f.file_field :image, multiple: true, name: "sub_image[image]",class: "btn btn-primary" %>
			<% #TODO Upload using URL %>
			<%= f.label :remote_image_url, "or Image URL" %><br/>
			<%= f.text_field :remote_image_url %>
		</p>
		<%= f.submit %>
	<% end %>
	</div>
	<% #TODO Apply css %>
	<div class="details">
		<p>
			<strong>Title</strong>
			<%= best_in_place @project, :title, type: :input %>
		</p>
		<p>
			<strong>Description</strong><br/>
			<%= best_in_place @project, :description, type: :textarea, nil: 'Insert Some text' %>
		</p>
		<p>
			<% #TODO Check correct url using ping or something %>
			<strong>URL</strong><br/>
			<%= best_in_place @project, :url, type: :input, nil: 'Insert Some text' %>
		</p>

		<p>
			<strong>Work For</strong><br/>
			<%= best_in_place @project, :work_for, type: :input, nil: 'Insert Some text' %>
		</p>

		<p>
			<% #TODO using comma (,) like tagging system %>
			<strong>Type</strong><br/>
			<%= best_in_place @project, :types, type: :input, nil: 'Insert Some text' %>
		</p>
	</div>

	<div class="layouts">
		<p>
			<% #TODO Change Layout image.. after layouts fixed make thumbnails %>
			<strong>Layouts</strong><br/>
			<label><%= holder_tag '100x100','Layout 1' %><%= radio_button_tag @project.layouts,'layout1' %></label>
			<label><%= holder_tag '100x100','Layout 2' %><%= radio_button_tag @project.layouts,'layout2' %></label>
			<label><%= holder_tag '100x100','Layout 3' %><%= radio_button_tag @project.layouts,'layout3' %></label>
			<label><%= holder_tag '100x100','Layout 4' %><%= radio_button_tag @project.layouts,'layout4' %></label>
			<% best_in_place @project, :layouts, type: :select, collection: [[1,"Layout 1"], [2, "Layout 2"]], nil:'Select Default Layout' %>
		</p>
	</div>

	<div class="visibility">
	<p>
		<% #TODO Change visibility image %>
		<strong>visibility</strong><br/>
		<%= best_in_place @project, :visibility, type: :checkbox, collection: %w[Visible Unvisible] %>
	</p>
	</div>


<%= link_to 'Back', projects_path %>
| <%= link_to 'Edit', edit_project_path(@project) %>
| <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure ? ' } %>
</div>
<%= javascript_include_tag "sort_sub_images" %>
